<nav class="navbar navbar-dark bg-dark">
    <span style="color: aliceblue;">Credit-Consommation</span>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar3">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/register']">Register</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/']">Demande de crédits</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/credits']">Tous les crédits</a>
            </li>
        </ul>
    </div>
</nav>